body {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: auto;
  background-color: #FFB4B4;
}

.startPage {
  display: block;
}

.startPage.close {
  display: none;
}

.qPage {
  display: none;
}

.qPage.open {
  display : block;
}

.aPage {
  display: none;
}

.aPage.open {
  display: block;
}

/* 메인 페이지 */
h1 {
  text-align: center;
  font-family: 'Hi Melody', cursive;
  font-weight: 500;
  font-size: 4rem;
}

img {
  margin-top: 4rem;
}

#startBtn {  
  display: flex;
  margin: 5em auto;
  width: 60%;
  height: 3em;

  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-family: 'Hi Melody', cursive;
  font-weight: 400;
  color: white;

  border: solid 0.3rem;
  background-color: black;

  cursor: pointer;
}

/* 문제 페이지 */

#qBox {
  margin: 10rem auto;
  text-align: center;

  font-family: 'Gaegu', cursive;
  font-size: 3rem;
}

.answerBtn {
  display: flex;
  margin: 5em auto;
  width: 820px;
  height: 4em;

  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  font-family: 'Gaegu', cursive;
  font-weight: 400;
  color: white;

  border: solid 0.3rem;
  background-color: black;

  cursor: pointer;
}